<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="Chat, RemotingLibrary" objectUri="Chat" />
      </service>
      <channels>
        <channel ref="tcp" port="10001" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>